<section id="kl-ranking" class="kl-ranking">
    <header>
        <div class="container">
            <h1>Spielplan</h1>
        </div>
    </header>

    <div class="container">
            {% for schedule in schedules %}
                <div class="kl-schedules-league">
                    {% if view == 'current' %}
                        <h3>
                            Aktueller Spieltag
                            <span>{{ schedule.day.fixture|date('d.m.Y') }} bis {{ schedule.day.end|date('d.m.Y') }}</span>
                        </h3>
                    {% else %}
                        <h3>
                            Spieltag {{ schedule.number }}
                            <span>{{ schedule.day.fixture|date('d.m.Y') }} bis {{ schedule.day.end|date('d.m.Y') }}</span>
                        </h3>
                    {% endif %}

                    <table class="table kl-table">
                        <thead>
                        <tr>
                            <th class="date">Datum</th>
                            <th class="home">Heim</th>
                            <th class="divider"></th>
                            <th class="guest">Gast</th>
                            <th class="score">Ergebnis</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match in schedule.matches %}
                            <tr {% if (activeTeam and ((activeTeam == match.home.short_name) or (activeTeam == match.away.short_name))) %}class="active"{% endif %}>
                                <td class="date">
                                    {% if match.fixture %}
                                        {% if match.fixture != '0000-00-00 00:00:00' %}
                                            {{ match.fixture|date('d.m.Y') }}
                                        {% else %}
                                            tba
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="home"><a href="{{ match.home.link }}">{{ match.home.name }}</a></td>
                                <td class="divider">vs</td>
                                <td class="guest"><a href="{{ match.away.link }}">{{ match.away.name }}</a></td>
                                <td class="score">
                                    {% if match.status != 3 and (match.score_home == false and match.score_away == false) %}
                                        --:--
                                    {% else %}
                                        {{ match.score_home }}:{{ match.score_away }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">

                                <a class="total-schedule" href="{{ schedule.link }}">
                                    Spielplan anzeigen
                                </a>

                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            {% endfor %}

    </div>
</section>