<section id="kl-fixtures" class="kl-fixtures">
    <header>
        <div class="container">
            <h1>Aktueller Spielplan</h1>
        </div>
    </header>

    <div class="container">
        {% for league in leagues %}
            <div class="kl-fixtures-league">
                <h3>
                    {{ league.league.name }}
                </h3>
                <p>Spieltag {{ league.game_day.number }}</p>
                <p class="interval">{{ league.game_day.fixture|date('d.m.Y') }} bis {{ league.game_day.end|date('d.m.Y') }}</p>

                <table class="table kl-table">
                    <thead>
                    <tr>
                        <th class="date">Datum</th>
                        <th class="home">Heim</th>
                        <th class="divider"></th>
                        <th class="guest">Gast</th>
                        <th class="score">Ergebnis</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for match in league.schedules.matches %}
                        <tr {% if (activeTeam and ((activeTeam == match.home.short_name) or (activeTeam == match.away.short_name))) %}class="active"{% endif %}>
                            <td class="date">
                                {% if match.fixture %}
                                    {% if match.fixture != '0000-00-00 00:00:00' %}
                                        {{ match.fixture|date('d.m.Y') }}
                                    {% else %}
                                        tba
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="home"><a href="{{ match.home.link }}">{{ match.home.name }}</a></td>
                            <td class="divider">vs</td>
                            <td class="guest"><a href="{{ match.away.link }}">{{ match.away.name }}</a></td>
                            <td class="score">
                                {% if match.status != 3 and (match.score_home == false and match.score_away == false) %}
                                    --:--
                                {% else %}
                                    {{ match.score_home }}:{{ match.score_away }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">

                            <a class="total-schedule" href="{{ schedule.link }}">
                                Spielplan anzeigen
                            </a>

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endfor %}

    </div>
</section>