<div class="kkl-teams">
    <nav class="list-pills">
        <ul>
            {% for league in all_leagues %}
                <li><a rel="isotope" href="#" data-filter=".{{ league.code }}"
                       data-id="{{ league.current_season }}">{{ league.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="isotope-grid team-wrapper">
        {% for league in leagues %}
            {% for team in league.teams %}
                <div class="team-item isotope-item  {{ league.code }}">
                    <a href="/team/{{ team.link }}" target="_self" title="{{ team.name }}">
                        <img class="img-responsive" src="{% if team.logo %}{{ team.logo }}{% else %}{% endif %}"
                             alt="KKL |{{ team.name }}"/>
                        <span>{{ team.name }}</span>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
