<div class="kl-league-overview">
    <nav>
        <ul>
            {% for league in all_leagues %}
                <li><a href="#{{ league.code }}" data-id="{{ league.current_season }}">{{ league.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="wrapper">
        {% for league in leagues %}
            <div class="league" data-id="{{ league.code }}" id="{{ league.code }}"><a name="{{ league.code }}"></a>
                <h3>{{ league.name }}</h3>

                <ul>
                    {% for team in league.teams %}
                        <li>
                            <a href="/team/{{ team.link }}" target="_self" title="{{ team.name }}">
                                <span class="img">
                                    <img src="{% if team.logo %}{{ team.logo }}{% else %}unknown{% endif %}"
                                         alt="{{ team.name }}"/>
                                </span>
                                <span>{{ team.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        {% endfor %}
    </div>
</div>
