<div class="kkl-match-fixture">
    <form action="#" method="patch" id="set_match_fixture" data-url="{{ api_url }}">
        <div class="set-fixture-match">
            <label for="match">Begegnung*</label>
            <select name="match" id="match" class="required">
                {% for league in all_matches %}
                <optgroup label="{{ league.name }}">
                    {% for match in league.matches %}
                    <option value="{{ match["match"].id }}"
                            data-location="{{ match.location_id }}">{{ match["match"].homename }}
                        vs {{ match["match"].awayname }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div class="set-fixture-location">
            <label for="location">Spielort</label>
            <select name="location" id="location">
                <option value="unknown">Wähle einen Spielort</option>
                {% for location in all_locations %}
                <option value="{{ location.id }}">{{ location.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="set-fixture-datepicker">
            <label for="fixture">Spieltermin*</label>
            <input type="text" id="fixture" name="fixture" class="required"/>
        </div>

        <div class="set-fixture-email">
            <label for="email_validation">E-Mail validieren*</label>
            <input type="email" id="email_validation" name="email" placeholder="E-Mail" class="required"/>
        </div>

        <input type="submit" class="btn-primary" value="Spieltermin speichern"/>
    </form>

    <div class="wait">
        <div class="inner">
            <p>Speichere Daten.</p>
        </div>
    </div>

    <div class="success">
        <div class="inner">
            <p>Spieltermin erfolgreich gespeichert.</p>
        </div>
    </div>
</div>
